*{
    padding:0;
    margin:0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    box-sizing: border-box;
}
body{
    background-color: gray;
    align-items: center;
}
.pic{
    float: left;
 width:100px;
 border: 2px;
 border-radius: 50%;
 
}
.containeer{
    width: 90%;
    max-width: 4700px;
    color: rgb(28, 25, 25);
    background: yellow;
    margin: 20px auto 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 40px 35px;
    display: flex;
    align-items: normal;
}
.p-details{
 padding-left: 20px;
}
.p-details h1{
    font-size: 60px;
}
.details{
    width: 90%;
    max-width: 4700px;
    color: black;
    background:white;
    border-radius: 20px;
    border-top-left-radius: 0px ;
    border-top-right-radius: 0px ;
    margin:20px auto 0px;
    margin-top: 0px;
    padding: 40px 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.heading{
     text-underline-offset: 10px;
     padding-bottom: 20px;
    font-size: 40px;
    color: black;
}
.pro{
    margin-top: 10px;
}
.heading a{
    text-decoration: none;
}